<div class='authpane'>
	<div class="container">
		<img class="spinimage" src="img/pies.png" width="120">
	</div>
	<h4>authenticate yourself</h4>
	<form>
		<dl>
			<dt>home node (URL)</dt>
			<dd><input type="text" ng-model="baseurl"></dd>
			<dt>username</dt>
			<dd><input type="text" ng-model="credentials.username"></input></dd>
			<dt>private keypair (PEM-encoded)</dt>
			<textarea ng-model="credentials.key"></textarea>
		</dl>
		<div class="authstate glyphicon glyphicon-ok" ng-if="credentials.authed"></div>
		<div>
			<input type="submit" class="btn btn-default" ng-click="auth()" ng-disabled="!credentials.username || !credentials.key" value="log in"></input>
			<div type="button" class="btn" ng-click="keygen()"> <i class="glyphicon glyphicon-qrcode"></i> generate new key!  </div>
			<div type="button" class="btn" ng-click="register()" value="register!"><i class="glyphicon glyphicon-edit"></i> register!</div>
			<div type="button" class="btn" ng-click="clientDecode()"><i class="glyphicon glyphicon-barcode"></i> client decode PEM file </div>
			<div type="button" class="btn" ng-click="clientGenKey()"><i class="glyphicon glyphicon-barcode"></i> client gen KEY </div>

		</div>
	</form>
</div>
